@font-face {
    font-family: 'Coraline\'s Cat';
    src: url(../fontes/CoralinesCat.woff);
}

body{
    background-color:black;
}

.eve{
    background-color: midnightblue;
}

h1{
    font-family: 'Coraline\'s Cat';
    margin-top: 200px;
    margin-bottoms: 200px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    margin-top: 30px;
    color: white;
}
h2{
    font-family: 'Coraline\'s Cat';
    font-weight: normal;
    font-size: 150%;
    font-style: normal;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;  
}
h3{
    font-family: 'Coraline\'s Cat';
    font-weight: normal;
    font-size: 80%;
    font-style: normal;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    padding: 40px;
    
}
h5{
    font-family: 'Coraline\'s Cat';
    font-weight: normal;
    font-size: 80%;
    font-style: normal;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
    padding: 40px; 
}
p{
    margin-top: 30px;
    color: aliceblue;
    padding: 50px;
}
img-icon{
    margin-left: 300px;
}
